.input-field {
    position: relative;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
}

.input-field input:focus ~ label {
    top: 0;
    font-size: small;
    padding: 0 5px;
    background: inherit;
}
