.tabs > span {
    padding-left: 3vw;
    padding-right: 3vw;
    border: 1px solid black;
    padding: 20px 3vw 10px 3vw;
    margin-top: 20px;
}
.tabs > div {
    display: none;
}
.tabs div:target {
    display: block;
}
