@tailwind base; /*type: ignore*/
@tailwind components;
@tailwind utilities;

html,
body,
div#__next,
main {
    height: 100% !important;
}

#sidebar {
    position: relative;
    right: 0px;
    div#menus-list {
        overflow-y: scroll;
        max-height: 80%;
        * {
            overflow-y: initial;
        }
    }
}
