@tailwind base; /*type: ignore*/
@tailwind components;
@tailwind utilities;

html,
body,
div#__next,
main {
    height: 100% !important;
}
#sidebar div#menus-list {
    overflow-y: scroll;
    max-height: 80%;
}
#sidebar {
    position: relative;
    right: 0px;
}
